#navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: fixed;
  /* Make it stick/fixed */
  top: 0;
  /* Stay on top */
  width: 100%;
  /* Full width */
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
  /* Transition effect when sliding down (and up) */
  padding: 1rem 4rem;
  background-color: #615cff;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-bottom: 1px solid #615cff;
  z-index: 1;
}

#navbar a {
  padding: 0.7rem 2rem;
  display: block;
  text-align: center;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  font-weight: 500;
}

.btn {
  border: 2.5px solid #f8f9fa;
  padding: 0.7rem 2rem;
  border-radius: 100px;
  color: #f8f9fa;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.btn:hover {
  background-color: #f8f9fa;
  color: #615cff;
}

.card {
  background-size: cover;
  width: 400px;
  height: 250px;
  border-radius: 10px;
  margin: 4px 4px;
  background-color: #fff;
}

.overlay:hover {
  opacity: 1;
}

.overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: #231942;
  color: #fff;
  opacity: 0;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.card:nth-child(1) {
  background-image: url(/images/project1.png);
}

.card:nth-child(2) {
  background-image: url(/images/project2.png);
}

.card:nth-child(3) {
  background-image: url(/images/project3.png);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #615cff;
  width: 100%;
}

.header-container {
  margin-top: 10rem;
  padding: 0 10px;
}

.header-text {
  font-weight: 700;
  font-size: 2.5rem;
}

@media only screen and (max-width: 768px) {
  .header-text {
    font-size: 2rem;
  }
}

.header p {
  padding-top: 5px;
  font-size: 1.5rem;
}

@media only screen and (max-width: 768px) {
  .header p {
    font-size: 1.3rem;
  }
}

.wave-bottom {
  background-image: url("../../images/wave.png");
  min-width: 100%;
  height: 30rem;
  background-size: cover;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
}

.intro-img {
  width: 60%;
}

@media only screen and (max-width: 768px) {
  .intro-img {
    width: 400px;
  }
}

.intro-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: -10px;
  background-color: #615cff;
  color: #f8f9fa;
  padding: 8rem 0;
  padding-top: 8rem;
  padding-bottom: 16rem;
}

.intro-text-container {
  width: 60%;
}

@media only screen and (max-width: 768px) {
  .intro-text-container {
    width: 90%;
  }
}

.intro-header-text {
  font-weight: 600;
  font-size: 2.2rem;
}

.intro p {
  padding-top: 20px;
  font-size: 1.2rem;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  margin-bottom: 550px;
}

@media only screen and (max-width: 768px) {
  .skills {
    margin-bottom: 1450px;
  }
}

.skills-card-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: -7rem;
  border-radius: 15px;
  -webkit-box-shadow: 0 1px 4px #b6c4cf;
          box-shadow: 0 1px 4px #b6c4cf;
  width: 95%;
  background-color: #fff;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

@media only screen and (max-width: 768px) {
  .skills-card-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.skills-card {
  text-align: center;
  width: 100%;
  border: 1px solid #e9ecef;
  padding: 25px 10px;
}

.skills-icons {
  padding-bottom: 25px;
}

.skills-text {
  color: #615cff;
  font-size: 20px;
  padding: 25px 0;
}

.projects {
  text-align: center;
}

.projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects h1 {
  font-size: 2.2rem;
  padding-bottom: 25px;
}

.color-primary {
  color: #615cff;
}

.color-secondary {
  color: #f8f9fa;
}

.color-dark {
  color: #15232a;
}

* {
  font-family: "Bai Jamjuree", sans-serif;
}
/*# sourceMappingURL=main.css.map */