.btn {
  border: 2.5px solid $color-secondary;
  padding: 0.7rem 2rem;
  border-radius: 100px;
  color: $color-secondary;
  transition: 0.3s ease-out;
}

.btn:hover {
  background-color: $color-secondary;
  color: $color-primary;
}
